<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Simurgh"
        tools:targetApi="31">
        
        <!-- Login Activity as Launcher -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Sign Up Activity -->
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        
        <!-- Admin Panel Activity -->
        <activity
            android:name=".AdminPanelActivity"
            android:exported="false" />
        
        <!-- Manage Post Activity -->
        <activity
            android:name=".ManagePostActivity"
            android:exported="false"
            android:parentActivityName=".AdminPanelActivity" />
        
        <!-- Services Blog Activity -->
        <activity
            android:name=".ServicesBlogActivity"
            android:exported="false"
            android:parentActivityName=".ManagePostActivity" />
        
        <!-- Edit Post Activity -->
        <activity
            android:name=".EditPostActivity"
            android:exported="false"
            android:parentActivityName=".ServicesBlogActivity" />
        
        <!-- Add Email Activity -->
        <activity
            android:name=".AddEmailActivity"
            android:exported="false"
            android:parentActivityName=".AdminPanelActivity" />
        
        <!-- Splash Activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        
        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
            
        <!-- Firebase Configuration -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_foreground" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/doctor_cyber_primary" />
    </application>

</manifest>